<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nonogramme</title>
    <script src="https://unpkg.com/vue@3"></script>
	<script src="html2canvas.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="checkboxColorMode" v-model="colorMode">
        <label for="checkboxColorMode">Activer le mode coloration</label>

        <div id="container" :style="'zoom:'+zoom+'%'">
		    <!-- Indices haut -->
		    <div id="caseIndiceT_First"></div>
		    <div class="caseIndiceT noselect" v-for="c in 25" :id="'indiceT_'+c"></div>

		    <!-- Grille -->
		    <div class="ligne" v-for="l in 25">
		      <span v-for="c in 25">
		        <!-- Indices gauche -->
		        <div v-if="c == 1" class="caseIndiceL noselect" :id="'indiceL_'+l"></div>
		        <!-- Cases de la ligne -->
		        <div class="case" :id="l+'_'+c" @mouseover="colorize" @mousedown="mouseDown" @mouseup="mouseUp"></div>
		      </span>
		    </div>
		</div>

        <div id="toolBar">
		    <button @click="resetGridAndIndicex">Vider la grille</button> 
		    <button @click="validGrid">Exporter la grille</button>
		    <button @click="zoomMinus">Zoom -</button>
		    <button @click="zoomPlus">Zoom +</button>
		    <input type="file" @change="loadImage"/>
		</div>

        <canvas width="25" height="25" id="previewCanvas">
	    	Désolé, votre navigateur ne prend pas en charge html5.
	  	</canvas>
    </div>
</body>

<script type="text/javascript">
    Vue.createApp({
        data(){
            return {
                zoom: 75,
                isMouseDown: false, // tracks if user is clicking on canvas
                colorMode: true, // tracks if user is painting
                casesColored: [],
                casesColoredLoaded: [],
                tableauColDeCases: [],
        		tableauLignesDeCases: [],
        		casesIndicesT: [],
        		casesIndicesL: []
            }
        },

        mounted: function () {
            this.casesIndicesT = document.getElementsByClassName("caseIndiceT")
            this.casesIndicesL = document.getElementsByClassName("caseIndiceL")
        },

        methods: {
            colorize: function (event) {
		        if(this.isMouseDown) {
		          targetId = event.currentTarget.id
		          targetDiv = event.target
		          if (this.colorMode) {
		            targetDiv.classList.add("blackBg")
		            this.casesColored.push(targetDiv)
		          } else {
		            targetDiv.classList.remove("blackBg")
		          }
		        }
		    },

            mouseDown: function(event) {
                this.isMouseDown = true
            },

            mouseUp: function(event) {
                this.isMouseDown = false
            },

            resetGridAndIndicex: function () {

            },

            validGrid: function () {

            },

            zoomMinus: function () {
                this.mouseUp()
                if ( this.zoom >= 65 ) {
                    this.zoom -= 5
                }
            },

            zoomPlus: function () {
                this.mouseUp()
                if ( this.zoom < 100 ) {
                    this.zoom += 5
                }
            },

            loadImage: function (event) {

            },

        }

    }).mount('#app')
</script>
</html>